@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Yellowtail&display=swap');

/* 
To do list:
- add backup fonts to styles!! 
- adjust font color so contrast is okay!!
- offset form so input sections are central and subtitles are off to left
*/

/* -------------------colors------------------ */

body {
    background-color: #c88553;
}

.nav-bar a, .brand {
    color: #f1f1f1;
}

a:hover {
    color: #aeaeae;
}

input,
#host-book,
#add-info,
#date {
    background-color: antiquewhite;
}


/* -------------------navbar------------------ */


nav {
    background-color: rgba(4,4,4,0.5);
    position: absolute;
    width: 100%;
    height: 70px
}

#contact-us-nav {
    position: static;
}

.nav-bar {
    font-family: "BenchNine";
    float: right;
    margin-top: 25px;
}

.nav-bar a {
    font-size: 30px;
    margin: 0px 10px 10px 10px;
}

a:hover {
    text-decoration: none;
}

.logo {
    margin-top: -40px;
}

.brand {
    font-family: "BenchNine";
    font-weight: 700;
    font-size: 55px;
}

.logo-brand {
    display: inline-block;
    
}

/* -------------------dropdown menus------------------ */

.nav-bar-drop-down {
    position: relative;
    display: none;
    font-size: 30px;
    color: white;
}

.nav-bar {
    display: block;
    float: right;
}

.menu-dropdown {
    position: relative;
    display: inline-block
}

.food-drink-menu {
    display: none;
    position: absolute;
    background-color: rgba(4,4,4,0.5);
    text-align: center;
}

.menu-dropdown:hover .food-drink-menu {
    display: block;
}


/* -------------------images------------------ */

.hero-image {
    height: 90vh;
    background-image: url(https://browser-chocolate-guppy-vbanub8c.ws-eu03.gitpod.io/workspace/ThePlantBase/assets/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#hero-image {
    display: none;
}

.about-us img {
    width: 100%;
}

/* -------location + events -------- */
.vl-location {
    height: 40%;
}
/* -------------------contact page------------------ */
#form-background {
    border: 1px solid black;
    margin: 40px;
    padding: 20px;
    background-color: rgba(4,4,4,0.5);
    color: whitesmoke;
    text-align: -webkit-center;
}

#add-info {
    width: -webkit-fill-available;
    height: 100px;
}

.contact-details-2 {
    display: none;
}

.request-details-2 {
    display: none;
}

/* -------------------footer------------------ */

.opening-times-table {
    display: flex;
    justify-content: center;
    font-size: small;
    
}

.contact-details span {
    margin-right: 10px;
    font-size: 20px;
}

.contact-details a {
    color: #212529;
}

.vl-footer {
    height: 24%;
}

/* -------------------general------------------ */

.centred {
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "BenchNine" ;
    font-weight: 700;
    text-transform: capitalize;
}

.vl {
    border-left: 1px solid black;
    position: absolute;
    right: 50%;
}

hr {
    border-top: 2px solid rgba(0,0,0,0.4);
    width: 95%;
}

.row {
    margin: 0;
}

.display-block-md {
    display: none;
}

.display-block-sm {
    display: none;
}

.section-heading {
    width: fit-content;
    display: inline-block;
}

.small-hr {
    width: 60%;
    margin-top: -5px;
    margin-bottom: 2rem;
    border-top: 2px solid;
}

.location-events iframe {
    width: 100%;
    height: 70%;
}

form table {
    display: flex;
    justify-content: center;
}

button {
    font-size: 20px;
    font-family: "BenchNine";
    width: 80px;
    font-weight: 700;
    background-color: antiquewhite;
    border-radius: 20%;
}

button:hover {
    border-style: outset;
    background-color: burlywood;
}
button:active {
    border-style: inset;
}
/* -------------------media Queries------------------ */

@media screen and (max-width: 770px) {

    nav {
        text-align: center;
        height: 110px;
    }

    .logo-brand {
        display: block;
        margin-bottom: -10px;
        padding-right: 10px;
    }

    .nav-bar-drop-down {
        position: relative;
        display: block;
        bottom: 7px;
    }
    .nav-bar {
        display: none;
        margin: 0px;
    }

    .nav-bar-bars {
        display: inline-block;
    }

    .nav-bar-bars:hover .nav-bar {
        display: block;
        position: absolute;
        background-color: rgba(4,4,4,0.5);
        width: 100vw;
        right: 0;
        text-align: center;
    }
    /*----hero----*/
    .hero-image {
        height: auto;
    }
    #hero-image {
        display: block;
        max-width: 100%;
        height: auto;
    }
    /*-----about us-----*/
    .our-aim,
    .our-menu,
    .your-space {
        display: inline-flex;
        flex: 100%;
        max-width: 100%;
        margin-top: 15px;
    }

    .our-aim div,
    .our-menu div,
    .your-space div {
        max-width: 50%;
        margin-right: 6px;
    }
    
    /*---location + events ---*/
    .vl-location {
        display: none;
    }
    .location,
    .events {
        min-width: 100%;
    }
     .display-block-md {
        display: block;
    }
}

@media screen and (max-width: 520px) {
     /*----nav bar---*/
    nav {
        height: 75px;
    }
    .nav-bar-drop-down {
        position: relative;
        display: block;
        font-size: 20px;
        bottom: 0;
    }
    .nav-bar {
        display: none;
        margin: 0px;
    }

    .nav-bar a {
        font-size: 25px;
    }

    .nav-bar-bars:hover .nav-bar {
        display: block;
        position: absolute;
        background-color: rgba(4,4,4,0.5);
        width: 100vw;
        top: 92%;
        right: 0.1%;
        text-align: center;
    }
    .logo {
        display: none;
    }
    .logo-brand {
        margin-bottom: -20px;
    }

    .brand {
        font-size: 45px;
    }

    /* ------about us------ */
    .about-us img {
        display: none;
    }
    .our-aim div,
    .our-menu div,
    .your-space div {
        max-width: 100%;
        margin-right: 6px;
    }

    /* ---- contact page ---- */
    form input {
        width: 90%;
    }

    .contact-details-2 {
    display: inline;
    }

    .contact-details-1 {
        display: none;
    }

    .request-details-2 {
        display: inline;
    }

    .request-details-1 {
        display: none;
    }

    #form-background {
        margin: 10px;
    }
    .form-heading {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    label {
        min-width: 110px;
    }
        /*------footer-----*/
    .contact-details {
        min-width: 100%;
    }
    .opening-times {
        min-width: 100%;
    }
    .vl-footer {
        display: none;
    }
    .display-block-sm {
        display: block;
    }
}