@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Yellowtail&display=swap');

/* -------------------colors------------------ */
body {
    background-color: #c88553;
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/master/assets/images/vine.jpg?raw=true);
}

.background {
    background-color: rgba(200, 133, 83, 0.95);
}

.nav-bar a,
.brand {
    color: #ffffff;
}

a:hover {
    color: #aeaeae;
}

/*dont use IDs, use classes*/
input,
#host-book,
#add-info,
#date {
    background-color: #f1f1f1;
}

.green {
    color: #2d4e02;
}

/* -------------------navbar------------------ */
nav {
    background-color: rgba(4, 4, 4, 0.5);
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.contact-nav {
    position: static;
}

.nav-bar {
    font-family: "BenchNine";
    float: right;
    margin-top: -55px;
}

.nav-bar a {
    font-size: 30px;
    margin: 0px 10px 10px 10px;
}

a:hover {
    text-decoration: none;
}

.logo {
    margin-top: -40px;
}

.brand {
    font-family: "BenchNine";
    font-weight: 700;
    font-size: 55px;
}

.logo-brand {
    display: inline-block;

}

/* -------------------dropdown menus------------------ */
.nav-bar-drop-down {
    position: relative;
    display: none;
    font-size: 30px;
    color: #ffffff;
}

.nav-bar {
    display: block;
    float: right;
}

.menu-dropdown {
    position: relative;
    display: inline-block
}

/* -------------------images------------------ */
.hero-image {
    height: 90vh;
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/master/assets/images/hero.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    margin-bottom: 15px;
}

.hero-image2 {
    display: none;
}

.about-us img {
    width: 100%;
}

.eventsection-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: double;
}

.foodtasting-img {
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/master/assets/images/food-tasting.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.open-mic-img {
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/master/assets/images/open-mic3.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.poetry-reading-img {
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/master/assets/images/stock-poet.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.yne-img {
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/master/assets/images/crowd.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.coffee-outline {
    width: 50%;
}

/* ------- about us -------- */
.about-us i {
    padding-left: 5px;
}

.plant-bulb {
    background-image: url(https://raw.githubusercontent.com/Ellis-Robinson/ThePlantBase/master/assets/images/plant-bulb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    border-radius: 20%;
    background-position-x: center;
}

.vegan-food {
    background-image: url(https://raw.githubusercontent.com/Ellis-Robinson/ThePlantBase/master/assets/images/high-protein-vegan-foods-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    border-radius: 20%;
    background-position-x: center;
}

.coffee-cheers {
    background-image: url(https://raw.githubusercontent.com/Ellis-Robinson/ThePlantBase/master/assets/images/coffee-cheers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    border-radius: 20%;
    background-position-x: center;
}

/* -------location + events -------- */
.vl-location {
    height: 270px;
}

/* -------------------contact page------------------ */

.form-background {
    border: 1px solid black;
    margin: 65px;
    padding: 20px;
    background-color: rgba(4, 4, 4, 0.5);
    color: #f1f1f1;
}

.form {
    text-align: center;
}

form {
    text-align: initial;
}

#add-info {
    height: 100px;
    width: 100%;
}

.contact-details-2 {
    display: none;
}

.request-details-2 {
    display: none;
}

/* -------------------events page------------------ */
.events-images {
    width: 100%;
    height: auto;
    min-width: 30vw;
}

.events-heading {
    margin-top: 90px;
    margin-bottom: 20px;
}

.eventsection-bg:hover {
    box-shadow: 5px 5px rgba(4, 4, 4, 0.5);
    transform: scale(1.1);
}

.eventsection-bg {
    border-radius: 50%;
    background-color: #c88553;
    color: #ffffff;
    border: 5px double;
    transition: transform .2s;
    position: relative;
}

.food-tasting {
    width: 370px;
    height: 370px;
    right: 5%;
    margin-right: 20px;
}

.ft-txt {
    width: 280px;
    height: 330px;
    margin-left: 45px;
    margin-top: 25px;
}

.open-mic {
    width: 370px;
    height: 370px;
    transition: transform .2s;
    left: 5%;
}

.om-txt {
    width: 260px;
    margin-left: 49px;
    margin-top: 5px;
}

.poetry-reading {
    width: 400px;
    height: 400px;
    right: 5%;
}

.pr-txt {
    width: 300px;
    height: 330px;
    margin-left: 50px;
    margin-top: 25px;
}

.your-next-event {
    width: 415px;
    height: 415px;
    left: 5%;
    margin-bottom: 45px;
}

.yne-txt {
    width: 340px;
    height: 320px;
    margin-left: 35px;
    margin-top: 50px;
}

/* -------------------menu----------------- */
.full-menu {
    padding-top: 30px;
    width: 60%;
    font-size: x-large;
    text-align: center;
    left: 20%;
    position: relative;
    background-color: #c88553;
    margin-top: 70px;
    border: 10px groove #8e5e3b;
}

.full-menu li,
.full-menu ul {
    padding: 10px 0px;
}

/* -------------------footer------------------ */
.opening-times-table {
    display: flex;
    justify-content: center;
    font-size: medium;

}

.contact-details span {
    margin-right: 10px;
    font-size: 20px;
}

.contact-details a {
    color: #212529;
}

.contact-details-1,
.contact-details-2 {
    font-family: "BenchNine";
    font-weight: 700;
    text-transform: capitalize;
    font-size: larger;
}

.vl-footer {
    height: 170px;
}

.copyright {
    color: #f1f1f1;
    background-color: rgba(4, 4, 4, 0.5);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.copyright h6 {
    display: inline-block;
    margin: 0px 70px;
    font-size: larger;
}
.copyright a {
    margin: 0px 10px;
}

.copyright a {
    color: #f1f1f1;
}

.email-phone {
    margin:0px 70px;
}

/* -------------------general------------------ */

ul {
    list-style-type: none;
}

.page-not-found {
    padding: 110px 10% 10%;
    text-align: center;
}

a:active {
    color: #aeaeae;
}

.centred {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "BenchNine";
    font-weight: 700;
    text-transform: capitalize;
}

.vl {
    border-left: 1px solid black;
    position: absolute;
    right: 50%;
}

hr {
    border-top: 2px solid black;
    width: 95%;
}

.row {
    margin: 0;
}

.events-sections {
    margin-bottom: 5px;
}

.display-block-md {
    display: none;
}

.display-block-sm {
    display: none;
}

.section-heading {
    width: fit-content;
    display: inline-block;
}

.small-hr {
    width: 60%;
    margin-top: -5px;
    margin-bottom: 2rem;
    border-top: 2px solid black;
}

.location-events iframe {
    width: 100%;
    height: 70%;
}

form table {
    display: flex;
    justify-content: center;
}

.center-80 {
    display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.justify-left {
    display: flex;
    justify-content: flex-start;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-right {
    display: flex;
    justify-content: flex-end;
}

img {
    border-radius: 20%;
}

.about-us img {
    display: none;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.bold {
    font-weight: 700;
}

.spacer {
    height: 70px;
}

.btn {
    margin-top: 10px;
}
footer {
    width: 100vw;
}
/* -------------------media Queries------------------ */
@media screen and (max-width: 770px) {
    nav {
        text-align: center;
        height: 110px;
    }

    .logo-brand {
        display: block;
        margin-bottom: -10px;
        padding-right: 10px;
    }

    .nav-bar-drop-down {
        position: relative;
        display: block;
        bottom: 7px;
    }

    .nav-bar {
        display: none;
        margin: 0px;
    }

    .nav-bar-bars {
        display: inline-block;
    }

    .nav-bar-bars:hover .nav-bar {
        display: block;
        position: absolute;
        background-color: rgba(4, 4, 4, 0.5);
        width: 100vw;
        right: 0;
        text-align: center;
    }

    /*----hero----*/
    .hero-image {
        height: auto;
    }

    .hero-image2 {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 0%;
    }

    /*-----about us-----*/
    .our-aim,
    .our-menu,
    .your-space {
        display: inline-flex;
        flex: 100%;
        max-width: 100%;
        margin-top: 15px;
    }

    .our-aim div,
    .our-menu div,
    .your-space div {
        max-width: 50%;
        margin-right: 6px;
    }

    .about-us img {
        display: inline-flex;
    }

    .coffee-cheers {
        background-image: none;
    }

    .vegan-food {
        background-image: none;
    }

    .plant-bulb {
        background-image: none;
    }

    /*---location + events ---*/
    .vl-location {
        display: none;
    }

    .location,
    .events {
        min-width: 100%;
    }

    .display-block-md {
        display: block;
    }

    /*---events page ---*/
    .md-50 {
        min-width: 50%;
    }

    .food-tasting,
    .poetry-reading,
    .open-mic,
    .your-next-event {
        left: 0px;
        margin-bottom: 60px;
    }

    .events-heading {
    margin-top: 115px
    }
    .eventsection-img {
        display: none;
    }

    .copyright h6 {
        margin: 0px 50px;
    }

    /*---contact---*/
    .form-background {
        margin-left: 30px;
        margin-right: 30px;
    }

    /*---menu---*/
    .full-menu {
        width: 90%;
        left: 5%;
        margin-top: 90px;
    }
    /*---footer---*/
    .email-phone {
    margin:0px 50px;
}
    /*--404--*/
    .page-not-found {
        padding-top: 150px;
    }
}

@media screen and (max-width: 520px) {

    /*----nav bar---*/
    nav {
        height: 50px;
    }

    .bars-background {
        background-color: rgba(4, 4, 4, 0.5);
        position: absolute;
        width: 100%;
        height: 30px;
        margin-top: -3px;
    }

    .nav-bar-drop-down {
        position: sticky;
        display: block;
        font-size: 20px;
        bottom: 0;
    }

    .nav-bar {
        display: none;
        margin: 0px;
    }

    .nav-bar a {
        font-size: 25px;
    }

    .nav-bar-bars:hover .nav-bar {
        display: block;
        position: absolute;
        background-color: rgba(4, 4, 4, 0.5);
        width: 100vw;
        top: 92%;
        right: 0.1%;
        text-align: center;
        top: 30px;
    }

    .logo {
        display: none;
    }

    .logo-brand {
        margin-bottom: 0px;
        padding-right: 0px;
    }

    .brand {
        font-size: 45px;
        display: inline-block;
        height: 50px;
    }

    /* ------about us------ */
    .about-us img {
        display: none;
    }

    .our-aim div,
    .our-menu div,
    .your-space div {
        max-width: 100%;
        margin-right: 0px;
    }

    .plant-bulb {
        display: none;
    }

    /*-----events page-----*/
    .food-tasting {
        width: 200px;
        height: 205px;
        margin-right: 0px;
    }

    .ft-txt {
        width: 180px;
        height: 230px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .open-mic {
        width: 200px;
        height: 270px
    }

    .om-txt {
        width: 180px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .poetry-reading {
        width: 200px;
        height: 250px;
    }

    .pr-txt {
        width: 180px;
        height: 230px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .your-next-event {
        width: 200px;
        height: 245px;
    }

    .yne-txt {
        width: 180px;
        height: 220px;
        margin-top: 5px;
        margin-left: 5px
    }

    .hide-sm {
        display: none;
    }

    .eventsection-bg {
        font-size: small;
        border-radius: 10%;
    }

    .events-heading {
    margin-top: 90px
    }
    /* ---- contact page ---- */
    
    form input {
        width: 90%;
    }

    .contact-details-2 {
        display: inline;
    }

    .contact-details-1 {
        display: none;
    }

    .request-details-2 {
        display: inline;
    }

    .request-details-1 {
        display: none;
    }

    .form-background {
        margin: 45px 10px;
    }

    .form-heading {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    label {
        min-width: 110px;
    }

    /*---menu---*/
    .full-menu {
        width: 90%;
        left: 5%;
        margin-top: 50px
    }

    /*------footer-----*/
    .contact-details {
        min-width: 100%;
    }

    .opening-times {
        min-width: 100%;
    }

    .vl-footer {
        display: none;
    }

    .display-block-sm {
        display: block;
    }
    .copyright {
        display: block;
        text-align: center;
    }
    .copyright h6 {
        margin: 0px 10px;
    }
    .email-phone {
    margin:0px 10px;
}
    /*--404--*/
    .page-not-found {
        padding-top: 110px;
    }
}