@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Yellowtail&display=swap');

/* 
To do list:
- add backup fonts to styles!! 
- adjust font color so contrast is okay!!
- offset form so input sections are central and subtitles are off to left
- format images in about us section so equal and display propperly on small large screen
- space out copyright section
- fix vl at lg and md screen sizes
*/

/* -------------------colors------------------ */

body {
    background-color: #c88553;
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/events-page/assets/images/vine.jpg?raw=true);
}

.background {
    background-color: rgba(	200,133,83,0.95);
}

.nav-bar a, .brand {
    color: #f1f1f1;
}

a:hover {
    color: #aeaeae;
}

input,
#host-book,
#add-info,
#date {
    background-color: antiquewhite;
}


/* -------------------navbar------------------ */


nav {
    background-color: rgba(4,4,4,0.5);
    position: absolute;
    width: 100%;
    height: 70px
}

#contact-us-nav {
    position: static;
}

.nav-bar {
    font-family: "BenchNine";
    float: right;
    margin-top: 25px;
}

.nav-bar a {
    font-size: 30px;
    margin: 0px 10px 10px 10px;
}

a:hover {
    text-decoration: none;
}

.logo {
    margin-top: -40px;
}

.brand {
    font-family: "BenchNine";
    font-weight: 700;
    font-size: 55px;
}

.logo-brand {
    display: inline-block;
    
}

/* -------------------dropdown menus------------------ */

.nav-bar-drop-down {
    position: relative;
    display: none;
    font-size: 30px;
    color: white;
}

.nav-bar {
    display: block;
    float: right;
}

.menu-dropdown {
    position: relative;
    display: inline-block
}

.food-drink-menu {
    display: none;
    position: absolute;
    background-color: rgba(4,4,4,0.5);
    text-align: center;
}

.menu-dropdown:hover .food-drink-menu {
    display: block;
}


/* -------------------images------------------ */

.hero-image {
    height: 90vh;
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/master/assets/images/hero.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    margin-bottom: 15px;
}

#hero-image {
    display: none;
}

.about-us img {
    width: 100%;
}
/* ------- about us -------- */
.about-us i {
    padding-left: 5px;
}
.anbout-us-txt {
    height: 
}
#plant-bulb {
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/events-page/assets/images/plant-bulb.jpg?raw=true);
        background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    border-radius: 20%;
}
#vegan-food {
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/events-page/assets/images/high-protein-vegan-foods-1.jpg?raw=true);
        background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    border-radius: 20%;
}
#coffee-cheers {
    background-image: url(https://github.com/Ellis-Robinson/ThePlantBase/blob/events-page/assets/images/coffee-cheers.jpg?raw=true);
        background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    border-radius: 20%;
}

/* -------location + events -------- */
.vl-location {
    height: 40%;
}
/* -------------------contact page------------------ */
#form-background {
    border: 1px solid black;
    margin: 40px;
    padding: 20px;
    background-color: rgba(4,4,4,0.5);
    color: whitesmoke;
    text-align: -webkit-center;
}

#add-info {
    width: -webkit-fill-available;
    height: 100px;
}

.contact-details-2 {
    display: none;
}

.request-details-2 {
    display: none;
}

/* -------------------events page------------------ */
.events-images {

    width: 100%;
    height: auto;
    min-width: 30vw;
}
#events-heading {
    margin-top: 15px;
    margin-bottom: 20px;
}


.eventsection-bg:hover {
            box-shadow: 5px 5px grey;
            transform: scale(1.25);
        }
        
        .eventsection-bg {
           /* text-align: center;
            align-items: center; */
            border-radius: 50%;
            background-color: #c88553;
            color: white;
            border: 5px double;
            transition: transform .2s;
            position: relative;
        }
        
        
        #food-tasting{
            width: 370px;
            height: 370px;
            right: 20%;
        }
        #ft-txt{
            width: 280px;
            height: 330px;
            margin-left: 45px;
            margin-top: 15px;
        }
        #open-mic {
            width: 370px;
            height: 370px;
            transition: transform .2s;
            left: 20%;
        }
        #om-txt {
            width: 260px;
            margin-left: 49px;
            margin-top:5px;
        }
        #poetry-reading {
            width: 400px;
            height: 400px;
            right: 20%;
        }
        #pr-txt {
            width: 300px;
            height: 330px;
            margin-left: 50px;
            margin-top: 15px;
        }
        
        #your-next-event {
            width: 415px;
            height: 415px;
            left: 20%;
            margin-bottom: 45px;
        }
        #yne-txt {
            width: 340px;
            height: 320px;
            margin-left: 35px;
            margin-top: 30px;
    }

/* -------------------footer------------------ */

.opening-times-table {
    display: flex;
    justify-content: center;
    font-size: small;
    
}

.contact-details span {
    margin-right: 10px;
    font-size: 20px;
}

.contact-details a {
    color: #212529;
}

.vl-footer {
    height: 24%;
}
#copyright {
    color: whitesmoke;
    background-color: rgba(4,4,4,0.5);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#copyright h6 {
    display: inline-block;
    margin: 0px 90px;
    font-size: larger;
}

/* -------------------general------------------ */

.centred {
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "BenchNine" ;
    font-weight: 700;
    text-transform: capitalize;
}

.vl {
    border-left: 1px solid black;
    position: absolute;
    right: 50%;
}

hr {
    border-top: 2px solid rgba(0,0,0,0.4);
    width: 95%;
}

.row {
    margin: 0;
}

.events-sections {
    margin-bottom: 5px;
}

.display-block-md {
    display: none;
}

.display-block-sm {
    display: none;
}

.section-heading {
    width: fit-content;
    display: inline-block;
}

.small-hr {
    width: 60%;
    margin-top: -5px;
    margin-bottom: 2rem;
    border-top: 2px solid;
}

.location-events iframe {
    width: 100%;
    height: 70%;
}

form table {
    display: flex;
    justify-content: center;
}

.center-80 {
        display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.justify-left {
    display: flex;
    justify-content: flex-start;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.justify-right{
    display: flex;
    justify-content: flex-end;
}

img {
    border-radius: 20%;
}

.about-us img {
        display: none;
    }

.display-flex-center {
    display: flex;
    justify-content: center;
}
.bold{
    font-weight: 700;
}
/* -------------------media Queries------------------ */

@media screen and (max-width: 770px) {

    nav {
        text-align: center;
        height: 110px;
    }

    .logo-brand {
        display: block;
        margin-bottom: -10px;
        padding-right: 10px;
    }

    .nav-bar-drop-down {
        position: relative;
        display: block;
        bottom: 7px;
    }
    .nav-bar {
        display: none;
        margin: 0px;
    }

    .nav-bar-bars {
        display: inline-block;
    }

    .nav-bar-bars:hover .nav-bar {
        display: block;
        position: absolute;
        background-color: rgba(4,4,4,0.5);
        width: 100vw;
        right: 0;
        text-align: center;
    }
    /*----hero----*/
    .hero-image {
        height: auto;
    }
    #hero-image {
        display: block;
        max-width: 100%;
        height: auto;
    }
    /*-----about us-----*/
    .our-aim,
    .our-menu,
    .your-space {
        display: inline-flex;
        flex: 100%;
        max-width: 100%;
        margin-top: 15px;
    }

    .our-aim div,
    .our-menu div,
    .your-space div {
        max-width: 50%;
        margin-right: 6px;
    }
    .about-us img {
        display: inline-flex;
    }
    #coffee-cheers {
        background-image: none;
    }
    #vegan-food {
        background-image: none;
    }
    #plant-bulb {
        background-image: none;
    }
    
    /*---location + events ---*/
    .vl-location {
        display: none;
    }
    .location,
    .events {
        min-width: 100%;
    }
     .display-block-md {
        display: block;
    }
    /*---events page ---*/
    .md-50 {
        min-width: 50%;
    }
    #food-tasting,
    #poetry-reading,
    #open-mic,
    #your-next-event {
        left: 0px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 520px) {
     /*----nav bar---*/
    nav {
        height: 75px;
    }
    .nav-bar-drop-down {
        position: relative;
        display: block;
        font-size: 20px;
        bottom: 0;
    }
    .nav-bar {
        display: none;
        margin: 0px;
    }

    .nav-bar a {
        font-size: 25px;
    }

    .nav-bar-bars:hover .nav-bar {
        display: block;
        position: absolute;
        background-color: rgba(4,4,4,0.5);
        width: 100vw;
        top: 92%;
        right: 0.1%;
        text-align: center;
    }
    .logo {
        display: none;
    }
    .logo-brand {
        margin-bottom: -20px;
    }

    .brand {
        font-size: 45px;
    }

    /* ------about us------ */
    .about-us img {
        display: none;
    }
    .our-aim div,
    .our-menu div,
    .your-space div {
        max-width: 100%;
        margin-right: 6px;
    }

    /*-----events page-----*/

    #food-tasting {
        width: 200px;
        height: 225px;
    }
        #ft-txt{
            width: 180px;
            height: 230px;
            margin-left:5px;
            margin-top: 5px;
        }
    #open-mic{
        width: 200px;
        height: 230px
    }
        #om-txt {
            width: 170px;
            margin-left: 10px;
            margin-top: 5px;
        }
        #poetry-reading {
            width: 200px;
            height: 245px;
        }
        #pr-txt {
            width: 180px;
            height: 230px;
            margin-left: 5px;
            margin-top: 5px;
        }
        
        #your-next-event {
            width: 200px;
            height: 245px;
        }
        #yne-txt {
            width: 180px;
            height: 220px;
            margin-top: 5px;
            margin-left: 5px
    }
    .hide-sm {
        display: none;
    }
    .eventsection-bg {
        font-size: small;
        border-radius: 10%;
    }

    /* ---- contact page ---- */
    form input {
        width: 90%;
    }

    .contact-details-2 {
    display: inline;
    }

    .contact-details-1 {
        display: none;
    }

    .request-details-2 {
        display: inline;
    }

    .request-details-1 {
        display: none;
    }

    #form-background {
        margin: 10px;
    }
    .form-heading {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    label {
        min-width: 110px;
    }
        /*------footer-----*/
    .contact-details {
        min-width: 100%;
    }
    .opening-times {
        min-width: 100%;
    }
    .vl-footer {
        display: none;
    }
    .display-block-sm {
        display: block;
    }
    #copyright h6 {

    margin: 0px 30px;
    }
}